# Lisp compiled files
*.fasl
*.fas
*.lib
*.o
*.a

# SBCL specific
*.core
tmp.lisp

# Editor backups
*~
\#*\#
.\#*
.vscode/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Quicklisp local projects link
quicklisp/
