/.vscode/

# Lisp compiled files
*.fasl
*.fas
*.lib
*.o
*.a
tmp.lisp
*.json

# SBCL specific
*.core

# Editor backups
*~
\#*\#
.\#*
.vscode\
.gitignore

# OS files
.DS_Store
Thumbs.db

# Quicklisp local projects link
quicklisp/
